<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Future.AI - Home</title>
    <link rel="stylesheet" href="../media-files/css/general.css">
    <link rel="stylesheet" href="../media-files/css/header.css">
    <link rel="stylesheet" href="../media-files/css/footer.css">
    <link rel="stylesheet" href="../media-files/css/home.css">
</head>

<body>
    <header class="header">
        <h1>Future.AI</h1>
        <div class="nav">
            <ul class="nav-ul">
                <li class="nav-li"><a class="nav-li-link" href="home.html">Home</a></li>
                <li class="nav-li"><a class="nav-li-link" href="pricing.html">Pricing</a></li>
                <li class="nav-li"><a class="nav-li-link" href="product.html">Product</a></li>
                <li class="nav-li"><a class="nav-li-link" href="team.html">Team</a></li>
            </ul>
        </div>
    </header>

    <main id="home">
        <div id="home-display">
            <h1 class="title" id="home-display-title">IA powered APIs. Powerfull websites.</h1>
            <img src="../media-files/images/steve-johnson-YJGq5H9ofy0-unsplash.jpg" alt="" id="home-display-bg">
        </div>

        <div id="home-discover">
            <h1 id="home-discover-title" class="title">Discover.</h1>

            <div id="home-discover-tabs">
                <div class="home-discover-tab">
                    <h1 class="home-discover-tab-title">Prices</h1>
                    <img src="../media-files/images/clement-helardot-95YRwf6CNw8-unsplash.jpg" alt=""
                        class="home-discover-tab-img">
                    <p>Check our product's prices.</p>
                    <br>
                    <a href="./pricing.html" class="home-discover-tab-btn">Check</a>
                </div>
                <div class="home-discover-tab">
                    <h1 class="home-discover-tab-title">Product</h1>
                    <img src="../media-files/images/john-schnobrich-FlPc9_VocJ4-unsplash.jpg" alt=""
                        class="home-discover-tab-img">
                    <p>Curious about our products? Take a look.</p>
                    <br>
                    <a href="./product.html" class="home-discover-tab-btn">Check</a>
                </div>
                <div class="home-discover-tab">
                    <h1 class="home-discover-tab-title">Team</h1>
                    <img src="../media-files/images/annie-spratt-QckxruozjRg-unsplash.jpg" alt=""
                        class="home-discover-tab-img">
                    <p>Meet our team.</p>
                    <br>
                    <a href="./team.html" class="home-discover-tab-btn">Check</a>
                </div>
            </div>
        </div>

    </main>

    <footer class="footer">
        All rights reserved to Future.AI LTD | Website by Miguel Eleoterio.
    </footer>
</body>

</html>