<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Future.AI - Prices</title>
    <link rel="stylesheet" href="../media-files/css/general.css">
    <link rel="stylesheet" href="../media-files/css/header.css">
    <link rel="stylesheet" href="../media-files/css/footer.css">
    <link rel="stylesheet" href="../media-files/css/pricing.css">
</head>

<body>
    <header class="header">
        <h1>Future.AI</h1>
        <div class="nav">
            <ul class="nav-ul">
                <li class="nav-li"><a class="nav-li-link" href="home.html">Home</a></li>
                <li class="nav-li"><a class="nav-li-link" href="pricing.html">Pricing</a></li>
                <li class="nav-li"><a class="nav-li-link" href="product.html">Product</a></li>
                <li class="nav-li"><a class="nav-li-link" href="team.html">Team</a></li>
            </ul>
        </div>
    </header>

    <main id="prices">
        <div id="prices-display" class="display">
            <h1 id="prices-title" class="title">Prices</h1>
            <h2 class="prices-info-subtitle">Pricing is based on usage per second. Same price for everyone, no different
                tiers or hidden costs.</h2>
            <img src="../media-files/images/playground-gPASJNVOuM0-unsplash.jpg" alt="" id="prices-display-bg" class="bg">
        </div>
            <br><br>
            <div id="prices-tabs">
                <div class="prices-tab">
                    <h2 class="prices-tab-title">ChatterBlast - Chat API</h2>
                    <p class="prices-tab-price">$ 0.0015 per second</p>
                    <button class="prices-tab-btn">Know more</button>
                </div>
                <div class="prices-tab">
                    <h2 class="prices-tab-title">DreamWeaver - Image Generation API</h2>
                    <p class="prices-tab-price">DreamWeaver - Image Generation API
                        $ 0.0500 per second</p>
                    <button class="prices-tab-btn">Know more</button>
                </div>
                <div class="prices-tab">
                    <h2 class="prices-tab-title">MindReader - Image Recognition API</h2>
                    <p class="prices-tab-price">$ 0.0350 per second</p>
                    <button class="prices-tab-btn">Know more</button>
                </div>
            </div>

        <h1 class="title">Still in doubt? Check our products.</h1>
        <div id="prices-discover-tabs">
            <div class="prices-discover-tab">
                <h1 class="prices-discover-tab-title">Product</h1>
                <img src="../media-files/images/john-schnobrich-FlPc9_VocJ4-unsplash.jpg" alt=""
                    class="prices-discover-tab-img">
                <p>Curious about our products? Take a look.</p>
                <a href="./product.html" class="prices-discover-tab-btn">Check</a>
            </div>
        </div>

    </main>

    <footer class="footer">
        All rights reserved to Future.AI LTD | Website by Miguel Eleoterio.
    </footer>
</body>

</html>