<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Future.AI - Products</title>
    <link rel="stylesheet" href="../media-files/css/general.css">
    <link rel="stylesheet" href="../media-files/css/header.css">
    <link rel="stylesheet" href="../media-files/css/footer.css">
    <link rel="stylesheet" href="../media-files/css/product.css">
</head>

<body>
    <header class="header">
        <h1>Future.AI</h1>
        <div class="nav">
            <ul class="nav-ul">
                <li class="nav-li"><a class="nav-li-link" href="home.html">Home</a></li>
                <li class="nav-li"><a class="nav-li-link" href="pricing.html">Pricing</a></li>
                <li class="nav-li"><a class="nav-li-link" href="product.html">Product</a></li>
                <li class="nav-li"><a class="nav-li-link" href="team.html">Team</a></li>
            </ul>
        </div>
    </header>

    <main id="product">
        <div id="product-display" class="display">
            <h1 class="title">Products.</h1>
            <h2 id="product-display-subtitle">Know our brand new products.</h2>
            <img src="../media-files/images/nordwood-themes-bJjsKbToY34-unsplash.jpg" alt="" id="product-display-bg">
        </div>
        <div id="product-tabs">
            <div class="product-tab">
                <div class="product-titles">
                    <h1 class="product-title">ChatterBlast Chat API</h1>
                    <h2 class="product-subtitle">Unleash Conversational Intelligence</h2>
                </div>
                <div class="product-info">
                    <p>
                        Elevate your customer interactions with our Chat Bot Service.
                        Powered by cutting-edge AI technology, our chatbots are designed to engage, assist, and delight.
                        Whether you're a small business or a global enterprise, our per-second pricing ensures you pay
                        only
                        for what you use.
                        Create seamless, personalized conversations with your audience, and watch customer satisfaction
                        soar.
                        Get started today and let your chatbot become the voice of your brand.
                    </p>
                    <br><br>
                    <h3>
                        Features:
                        </h4>
                        <ul>
                            <li>
                                Conversational AI
                            </li>
                            <li>
                                Customizable
                            </li>
                            <li>
                                Natural Language Processing
                            </li>
                            <li>
                                Secure Data Processing
                            </li>
                        </ul>
                        <button class="product-tab-btn btn">Check out</button>
                </div>
            </div>

            <div class="product-tab">
                <div class="product-titles">
                    <h1 class="product-title">DreamWeaver Image Generation API</h1>
                    <h2 class="product-subtitle">Transform Ideas into Visuals, Instantly</h2>
                </div>
                <div class="product-info">
                    <p>
                        Imagine turning your concepts into stunning visuals with a simple click.
                        Our Image Generation Service makes it possible.
                        Harness the power of AI to generate images for marketing, design, and more.
                        Our per-second pricing means you pay based on your usage, making it accessible to businesses of
                        all sizes.
                        Bring your creativity to life, and explore the endless possibilities of AI-generated imagery.
                    </p>
                    <br><br>
                    <h3>
                        Features:
                        </h4>
                        <ul>
                            <li>
                                Fully Customizable
                            </li>
                            <li>
                                Variety of Styles
                            </li>
                            <li>
                                High Resolution
                            </li>
                            <li>
                                Batch Processing
                            </li>
                        </ul>
                        <button class="product-tab-btn btn">Check out</button>
                </div>
            </div>


            <div class="product-tab">
                <div class="product-titles">
                    <h1 class="product-title">MindReader Image Recognition API</h1>
                    <h2 class="product-subtitle">See the World Through AI Eyes</h2>
                </div>
                <div class="product-info">
                    <p>
                        Unlock the potential of visual data with our Image Recognition Service.
                        Our AI-powered models can identify objects, scenes, and more from images and videos, providing
                        invaluable insights for your business.
                        With per-second pricing, you only pay for the seconds you use, making it affordable for startups
                        and enterprises alike.
                        Enhance your decision-making, streamline workflows, and revolutionize your understanding of
                        visual content.
                        Try it now and gain a new perspective.
                    </p>
                    <br><br>
                    <h3>
                        Features:
                        </h4>
                        <ul>
                            <li>
                                Object Recognition
                            </li>
                            <li>
                                Scene Recognition
                            </li>
                            <li>
                                Text Detection
                            </li>
                            <li>
                                Face Recognition
                            </li>
                        </ul>
                        <a href="./pricing.html" class="product-tab-btn btn">Check out</a>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        All rights reserved to Future.AI LTD | Website by Miguel Eleoterio.
    </footer>
</body>

</html>