<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Future.AI - Team</title>
    <link rel="stylesheet" href="../media-files/css/general.css">
    <link rel="stylesheet" href="../media-files/css/header.css">
    <link rel="stylesheet" href="../media-files/css/footer.css">
    <link rel="stylesheet" href="../media-files/css/team.css">
</head>

<body>
    <header class="header">
        <h1>Future.AI</h1>
        <div class="nav">
            <ul class="nav-ul">
                <li class="nav-li"><a class="nav-li-link" href="home.html">Home</a></li>
                <li class="nav-li"><a class="nav-li-link" href="pricing.html">Pricing</a></li>
                <li class="nav-li"><a class="nav-li-link" href="product.html">Product</a></li>
                <li class="nav-li"><a class="nav-li-link" href="team.html">Team</a></li>
            </ul>
        </div>
    </header>

    <main id="team">
        <div id="team-display" class="display">
            <h1 class="title">Team.</h1>
            <h2 id="team-display-subtitle">Know who is behind this project.</h2>
            <img src="../media-files/images/annie-spratt-QckxruozjRg-unsplash.jpg" alt="" id="team-display-bg"
                class="bg">
        </div>

        <div id="team-rows">
            <div class="team-row">
                <h2>Founder & CEO</h2>
                <div class="team-imgs">
                    <div class="team-img">
                        <img src="../media-files/images/andrey-zvyagintsev-x0c6vTO5ibA-unsplash.jpg" alt="">
                    </div>
                    <p class="name">Annie Flores</p>
                    <p>Annie is the driving force behind the company. With a deep understanding of AI's transformative
                        potential, she founded the company to create solutions that make a positive impact on society.
                        Annie's commitment to ethical AI and her visionary leadership inspire the entire team.</p>
                </div>
            </div>
            <div class="team-row">
                <h2>Chief Technology Officer (CTO)</h2>
                <div class="team-imgs">
                    <div class="team-img">
                        <img src="../media-files/images/jake-nackos-IF9TK5Uy-KI-unsplash.jpg" alt="">
                    </div>
                    <p class="name">Jennifer Lawrence</p>
                    <p>Jennifer is our tech wizard, leading the charge in AI research and development. Her passion for
                        pushing the boundaries of what AI can achieve is matched only by her dedication to creating
                        responsible and ethical AI solutions.</p>

                </div>
            </div>
            <div class="team-row">
                <h2>Chief Marketing Officer (CMO)</h2>
                <div class="team-imgs">
                    <div class="team-img">
                        <img src="../media-files/images/austin-wade-X6Uj51n5CE8-unsplash.jpg" alt="">
                    </div>
                    <p class="name">Austin Wade</p>
                    <p>Austin is the creative powerhouse behind our brand. He knows that AI can change the world, and
                        he's on a mission to make sure everyone knows it too. His marketing strategies help us reach new
                        heights and connect with our audience.</p>
                </div>
            </div>
            <div class="team-row">
                <h2>AI Research Scientist</h2>
                <div class="team-imgs">
                    <div class="team-img">
                        <img src="../media-files/images/connor-wilkins-2crxTr4jCkc-unsplash.jpg" alt="">
                    </div>
                    <p class="name">Lisa Martin</p>
                    <p>Lisa's boundless curiosity drives our AI innovation. She's always exploring new frontiers in AI,
                        pushing the boundaries of what's possible. Her work is the cornerstone of our technological
                        advancements.</p>
                </div>
            </div>
            <div class="team-row">
                <h2>Head of Product</h2>
                <div class="team-imgs">
                    <div class="team-img">
                        <img src="../media-files/images/albert-dera-ILip77SbmOE-unsplash.jpg" alt="">
                    </div>
                    <p class="name">Albert Dera</p>
                    <p>David's ability to transform AI concepts into user-friendly products is unparalleled. He ensures
                        that our AI solutions not only work seamlessly but also enhance the lives of our users,
                        embodying our commitment to user-centric design.</p>
                </div>
            </div>
        </div>

        <div id="core-values" class="display">
            <h1 class="title">Our Core Values.</h1>

            <h1>1. Innovation.</h1>
            <p>We believe in the relentless pursuit of innovation. We constantly challenge the status quo and seek
                creative solutions to complex problems.</p>
            <h1>2. Ethical AI.</h1>
            <p>Ethics is at the heart of everything we do. We are committed to developing AI solutions that respect
                privacy, promote fairness, and serve the common good.</p>
            <h1>3. Collaboration.</h1>
            <p>We know that great ideas come from diverse minds working together. Collaboration is the key to our
                success, both within our team and in partnerships with our clients.</p>
            <h1>4. User-Centric Design.</h1>
            <p>Our users are our top priority. We design AI solutions that are intuitive, user-friendly, and enhance the
                lives of those who use them.</p>
            <h1>5. Positive Impact.</h1>
            <p>We measure success by the positive impact our AI solutions have on society. From improving healthcare to
                reducing environmental impact, we're dedicated to making the world a better place through AI.</p>
                <img src="../media-files/images/arlington-research-kN_kViDchA0-unsplash.jpg" alt="" class="bg">
        </div>
    </main>

    <footer class="footer">
        All rights reserved to Future.AI LTD | Website by Miguel Eleoterio.
    </footer>
</body>

</html>