<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IA/PI</title>
    <link rel="stylesheet" href="../media-files/css/general.css">
    <link rel="stylesheet" href="../media-files/css/header.css">
    <link rel="stylesheet" href="../media-files/css/footer.css">
    <link rel="stylesheet" href="../media-files/css/#.css">
</head>

<body>
    <header class="header">
        <h1>IA/PI</h1>
        <div class="nav">
            <ul class="nav-ul">
                <li class="nav-li"><a class="nav-li-link" href="home.html">Home</a></li>
                <li class="nav-li"><a class="nav-li-link" href="pricing.html">Pricing</a></li>
                <li class="nav-li"><a class="nav-li-link" href="product.html">Product</a></li>
                <li class="nav-li"><a class="nav-li-link" href="team.html">Team</a></li>
            </ul>
        </div>
    </header>

    <footer class="footer">
        All rights reserved to IAPIs LTD.
    </footer>
</body>

</html>